services:
  api_gateway:
    build:
      context: .
      dockerfile: ./api_gateway/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  service_users:
    build:
      context: .
      dockerfile: ./service_users/Dockerfile
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  service_orders:
    build:
      context: .
      dockerfile: ./service_orders/Dockerfile
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
